body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(11, 19, 43);
    margin: 0;
}

th, td {
    border-style: solid; border-width: 3px; border-color: black;
}
#article-pargraphs {
    width: 70%;
    background-color: rgb(105, 146, 196);
    padding-left: 5px;
    border-style: dashed;
    border-color: rgb(103, 214, 210);
    color:rgb(0, 4, 15);
    font-weight: 520;
    margin-bottom: 0;
    margin-left: 3px;
}

#aside {
    width: 28%; 
    float: right; 
    position: fixed; 
    top: 20px; 
    right: 10px;
    color: rgb(111, 255, 233);
}

.left-images{
    width: 35%; 
    align-items: left;
}

.right-images{
    width: 35%; 
    align-items: right;
}

#video-frame{
    width: 70%; 
    text-align: center;
}

a{
    color: rgb(100, 245, 144);
    font-weight: bold;
}

#contact{
    color: rgb(111, 255, 233);
    background-color: rgb(131, 108, 32);
    margin: 0;
    left: 0;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#source a {
    color: rgb(0, 4, 15);
}

#header {
    margin-left: 10px;
}